:root {
  --bodybg: #f2f2f2;
  --lgred: #fff2f2;
  --select: #be212a;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bodybg);
}

::-webkit-scrollbar {
  background: transparent;
  height: 0.4rem;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 1rem;
  cursor: pointer;
}

/* To be  removed */
span {
  color: var(--purple);
}


main {
  display: flex;
}

main > aside {
  flex-shrink: 0;
}

main > section {
  flex: 1;
  min-width: 0;
}

/* button'css */
/* Primary Buttons */
.spbtn-primary {
  padding: 10px 20px;
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}
.spbtn-primary:hover {
  background-color: var(--indigo);
}
.spbtn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* Primary Buttons */
.spbtn-secondary {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}
.spbtn-secondary:hover {
  background-color: #e0e0e0;
}
.spbtn-secondary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Danger Button */
.spbtn-danger {
  padding: 10px 20px;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}
.spbtn-danger:hover {
  background-color: #dc2626;
}
.spbtn-danger:disabled {
  background-color: #faa;
  cursor: not-allowed;
}

/* Warning Buttons */
.spbtn-warning {
  padding: 10px 20px;
  background-color: #ffdd57;
  color: #332200;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}
.spbtn-warning:hover {
  background-color: #ffe584;
}
.spbtn-warning:disabled {
  background-color: #ffd466;
  cursor: not-allowed;
}
