/* components/Modal.css */

/* Background overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal container */
.modal-container {
  background-color: var(--bodybg);
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.modal-close:hover {
  /* color: var(--orange); */
   border: 1px solid white;
}

/* Title */
.modal-title {
    padding:15px 20px; ;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  background: var(--purple);
    color: white;
}

/* Modal content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /* font-size: 16px; */
  margin-bottom: 20px;
}

/* Footer buttons container */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}



@media (max-width: 768px) {
  .modal-container {
    max-height: 90vh;
    overflow: auto;
  }
}

@media (max-width: 480px) {
  .modal-container {
    width: 100%;
  }
}