/* components/Modal.css */

/* Background overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal container */
.modal-container {
  background-color: var(--bodybg);
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0 5px;
}

.modal-close:hover {
  color: #333;
  border: 1px solid #888;
}

/* Title */
.modal-title {
    padding:15px 20px; ;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  background: var(--purple);
    color: white;
}

/* Modal content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Footer buttons container */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

/* Buttons */
.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button.cancel {
  background-color: #f0f0f0;
  color: #333;
}

.modal-button.cancel:hover {
  background-color: #e0e0e0;
}

.modal-button.ok {
  background-color: var(--purple);
  color: white;
}

.modal-button.ok:hover {
  background-color: var(--indigo);
}
