.navbar{ 
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 8px 12px;
    margin: 5px;
  }
  
  @media screen and (max-width:786px) {
    .navbar{
      margin:0;
    }
  }